
.SideNav{
    transition: all .3s ease;
}
@media screen and (min-width:1200px)
{
    .mainContent
    {
        margin-left: 300px;
    }
}
@media screen and (max-width:1200px)
{
    .SideNav
    {
        position: absolute !important;
        margin-left:-300px
    }
}